* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  font-family: "fantasy";
}
ul {
  list-style: none;
  font-size: 15px;
  font-style: italic;
}
a {
  text-decoration: none;
  font-weight: 700;
}
body {
  height: 100vh;
  background: url("../img/code.png") no-repeat center center fixed;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
header ul {
  display: flex;
}
header ul li {
  padding: 5px;
}
header ul li a {
  transition: 300ms;
}
header ul li a:hover {
  color: #c0a717;
  text-decoration: underline;
}
main {
  margin-top: 50px;
  vertical-align: center;
}
#logo {
  border: 2px solid #c09717;
  padding: 5px;
}
.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}
.container .name h5 {
  font-size: 30px;
}
#arrow {
  font-size: 35px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}
#animation {
  transition: 300ms;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.form {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}
.form input {
  width: 50%;
  padding: 5px 10px;
}
.form button {
  width: 15%;
  padding: 5px 10px;
  background-color: #c09717;
  color: #464646;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 300ms;
}
.form button:hover {
  background-color: #9c551b;
  color: white;
}
@media only screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container .name h1 {
    font-size: 30px;
  }
  .container .name h5 {
    font-size: 15px;
  }
  #about p {
    max-width: 80%;
    text-align: center;
  }
}
